* {
  margin: 0;
  padding: 0;
}

.head_row {
  height: 40px;
}

.head_row > div {
  float: left;
  background-color: #fff;
  font-size: 13px;
  text-align: center;
  height: 100%;
}

.head_row > div > p {
  padding-top: 13px;
}

#corner {
  width: 35px;
  background-color: #f09501;
}

#corner > p {
  color: #FFF;
  width: 13px;
  padding: 7px 11px;
}

.Left {
  float: left;
  background-color: #ffa101;
  color: #fff;
  text-align: center;
  width: 35px;
  height: 100%;
}

.Saturday {
  display: none;
}

.Sunday {
  display: none;
}

.Line {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #fff;
}

.Cell {
  float: left;
  background-color: #eee;
  border-color: #fff;
  border-style: solid;
  border-radius: 5px;
  height: 100%;
  border-width: 0px 1px 0px 0px;
}

.Cell > a {
  height: 100%;
  width: 100%;
}

.Course {
  height: 100%;
  width: 100%;
  background-color: #e16f66;
  border-color: #fff;
  border-style: solid;
  border-radius: 5px;
  border-width: 0px 1px 0px 0px;
  position: relative;
  overflow:hidden;
}

.Course_Name {
  color: #fff;
  font-size: 11px;
  font-weight: 800;
  padding: 5px;
}

.Course_Place {
  vertical-align: bottom;
  text-align: center;
  font-size:8px;
  overflow: hidden;
  color: #ffb9bc;
  padding: 2px;
  position: absolute;
  margin-bottom: 0px;
}
